## Création du filtre de liquidité

- idée : filtre dynamique dans le temps
- À chaque date de rebalancement de référence (dernier jour de trading le janvier, avril, juillet et octobre) on calcule la liquidité moyenne des 3 derniers mois à partir des poids de référence de l'indice et des données de volumes.

In [2]:
import matplotlib.pyplot as plt
from base_strategy import *
from preprocessing import read_data, read_reference_index_holdings

In [3]:
df_px = read_data("Constituents PX_LAST data")
df_volume = read_data("Constituents PX_VOLUME data")
df_total_ret = read_data("Constituents TOT_RET_INDEX data")
df_gics = pd.read_parquet("converted_data/Constituents GICS sectors.parquet")
df_ref = read_reference_index_holdings()

In [4]:
df_volume.head()

,AAC/B CN Equity,AAH CN Equity,AAR-U CN Equity,AAV CN Equity,ABX CN Equity,AC CN Equity,ACB CN Equity,ACE/A CN Equity,ACE/B CN Equity,ACM/A CN Equity,...,WTE CN Equity,WTN CN Equity,WTO CN Equity,X CN Equity,XG CN Equity,YLO CN Equity,YRI CN Equity,ZL CN Equity,ZZZ CN Equity,SPTSX Index
Index Date,,,,,,,,,,,,,,,,,,,,,
2000-01-04,8750.0,9711.0,NaN,16575.0,926579.0,NaN,NaN,NaN,NaN,21396.0,...,25607.0,NaN,NaN,NaN,NaN,NaN,1804.0,510922.0,NaN,62662940.0
2000-01-05,23285.0,11400.0,NaN,31275.0,1452213.0,NaN,NaN,NaN,NaN,6000.0,...,55081.0,NaN,NaN,NaN,NaN,NaN,3357.0,343030.0,NaN,94698130.0
2000-01-06,29305.0,8783.0,NaN,5150.0,600273.0,NaN,NaN,NaN,NaN,38400.0,...,23580.0,NaN,NaN,NaN,NaN,NaN,2107.0,518189.0,NaN,84015360.0
2000-01-07,13695.0,11620.0,NaN,4555.0,1020813.0,NaN,NaN,NaN,NaN,3400.0,...,34934.0,NaN,NaN,NaN,NaN,NaN,891.0,202823.0,NaN,84001320.0
2000-01-10,16070.0,20453.0,NaN,8384.0,1269818.0,NaN,NaN,NaN,NaN,71800.0,...,19667.0,NaN,NaN,NaN,NaN,NaN,2249.0,278023.0,NaN,78874940.0

In [5]:
df_px.head()

,AAC/B CN Equity,AAH CN Equity,AAR-U CN Equity,AAV CN Equity,ABX CN Equity,AC CN Equity,ACB CN Equity,ACE/A CN Equity,ACE/B CN Equity,ACM/A CN Equity,...,WTE CN Equity,WTN CN Equity,WTO CN Equity,X CN Equity,XG CN Equity,YLO CN Equity,YRI CN Equity,ZL CN Equity,ZZZ CN Equity,SPTSX Index
Index Date,,,,,,,,,,,,,,,,,,,,,
2000-01-04,12.00,12.75,NaN,6.0,25.45,NaN,NaN,NaN,NaN,13.50,...,4.9332,NaN,NaN,NaN,NaN,NaN,11.5505,19.45,NaN,8202.60
2000-01-05,12.25,12.55,NaN,6.0,25.65,NaN,NaN,NaN,NaN,14.00,...,4.9830,NaN,NaN,NaN,NaN,NaN,10.8630,18.60,NaN,8119.42
2000-01-06,12.50,12.55,NaN,6.0,25.80,NaN,NaN,NaN,NaN,13.50,...,4.9830,NaN,NaN,NaN,NaN,NaN,10.7255,18.90,NaN,8114.24
2000-01-07,12.55,12.25,NaN,6.0,25.25,NaN,NaN,NaN,NaN,13.75,...,4.9332,NaN,NaN,NaN,NaN,NaN,11.5505,19.00,NaN,8429.42
2000-01-10,13.35,13.00,NaN,5.8,25.25,NaN,NaN,NaN,NaN,13.50,...,4.9332,NaN,NaN,NaN,NaN,NaN,11.5505,19.00,NaN,8602.50

In [6]:
df_total_ret.tail()

,AAC/B CN Equity,AAH CN Equity,AAR-U CN Equity,AAV CN Equity,ABX CN Equity,AC CN Equity,ACB CN Equity,ACE/A CN Equity,ACE/B CN Equity,ACM/A CN Equity,...,WTE CN Equity,WTN CN Equity,WTO CN Equity,X CN Equity,XG CN Equity,YLO CN Equity,YRI CN Equity,ZL CN Equity,ZZZ CN Equity,SPTSX Index
Index Date,,,,,,,,,,,,,,,,,,,,,
2023-03-13,NaN,NaN,NaN,28.9449,32.3241,19.14,1.02,NaN,NaN,NaN,...,153.2987,NaN,NaN,175.6363,NaN,NaN,9.3996,NaN,28.8928,35680.7120
2023-03-14,NaN,NaN,NaN,28.8056,32.2550,19.09,1.01,NaN,NaN,NaN,...,154.6632,NaN,NaN,177.7347,NaN,NaN,9.4370,NaN,28.4189,35902.7263
2023-03-15,NaN,NaN,NaN,27.3775,33.2504,18.17,0.97,NaN,NaN,NaN,...,155.4344,NaN,NaN,179.6192,NaN,NaN,9.4370,NaN,28.0666,35330.1881
2023-03-16,NaN,NaN,NaN,27.9348,32.9877,18.61,1.04,NaN,NaN,NaN,...,160.1805,NaN,NaN,179.3118,NaN,NaN,9.3498,NaN,28.0301,35635.8153
2023-03-17,NaN,NaN,NaN,26.9595,34.4118,18.11,1.00,NaN,NaN,NaN,...,158.7567,NaN,NaN,180.3009,NaN,NaN,9.8976,NaN,27.4591,35359.9502

In [7]:
df_gics.head()

            Ticker     GICS Sector
0  AAC/B CN Equity  Not Attributed
1    AAH CN Equity  Not Attributed
2  AAR-U CN Equity     Real Estate
3    AAV CN Equity          Energy
4    ABX CN Equity       Materials

In [8]:
df_ref.head()

                 Ticker    Weight
Index Date
2002-01-31  0112977D CT  0.056640
2002-01-31  0132533D CT  2.797760
2002-01-31  0206904D CT  0.705212
2002-01-31  0227217Q CT  0.140393
2002-01-31  0334249Q CT  0.501815

In [9]:
df_volume.shape, df_px.shape, df_total_ret.shape, df_gics.shape, df_ref.shape

((5810, 573), (5810, 573), (5830, 573), (572, 2), (61152, 2))

In [10]:
df_volume.isna().sum().sum(), df_px.isna().sum().sum(), df_total_ret.isna().sum().sum(), df_gics.isna().sum().sum(), df_ref.isna().sum().sum()

(1159652, 1168507, 1173026, 0, 0)

In [11]:
abs(df_px.isna().sum().sum() - df_total_ret.isna().sum().sum())

4519

In [12]:
df_gics

              Ticker             GICS Sector
0    AAC/B CN Equity          Not Attributed
1      AAH CN Equity          Not Attributed
2    AAR-U CN Equity             Real Estate
3      AAV CN Equity                  Energy
4      ABX CN Equity               Materials
..               ...                     ...
567     XG CN Equity          Not Attributed
568    YLO CN Equity          Not Attributed
569    YRI CN Equity               Materials
570     ZL CN Equity          Not Attributed
571    ZZZ CN Equity  Consumer Discretionary

[572 rows x 2 columns]

In [13]:
pd.read_parquet("filtered_data/volume_data.parquet")

,AAC/B CN Equity,AAH CN Equity,AAR-U CN Equity,AAV CN Equity,ABX CN Equity,AC CN Equity,ACB CN Equity,ACE/A CN Equity,ACE/B CN Equity,ACM/A CN Equity,...,WSP CN Equity,WTE CN Equity,WTN CN Equity,WTO CN Equity,X CN Equity,XG CN Equity,YLO CN Equity,YRI CN Equity,ZL CN Equity,ZZZ CN Equity
Index Date,,,,,,,,,,,,,,,,,,,,,
2000-01-04,8750.0,9711.0,NaN,16575.0,926579.0,NaN,NaN,NaN,NaN,21396.0,...,NaN,25607.0,NaN,NaN,NaN,NaN,NaN,NaN,510922.0,NaN
2000-01-05,23285.0,11400.0,NaN,31275.0,1452213.0,NaN,NaN,NaN,NaN,6000.0,...,NaN,55081.0,NaN,NaN,NaN,NaN,NaN,NaN,343030.0,NaN
2000-01-06,29305.0,8783.0,NaN,5150.0,600273.0,NaN,NaN,NaN,NaN,38400.0,...,NaN,23580.0,NaN,NaN,NaN,NaN,NaN,NaN,518189.0,NaN
2000-01-07,13695.0,11620.0,NaN,4555.0,1020813.0,NaN,NaN,NaN,NaN,3400.0,...,NaN,34934.0,NaN,NaN,NaN,NaN,NaN,NaN,202823.0,NaN
2000-01-10,16070.0,20453.0,NaN,8384.0,1269818.0,NaN,NaN,NaN,NaN,71800.0,...,NaN,19667.0,NaN,NaN,NaN,NaN,NaN,NaN,278023.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-22,NaN,NaN,NaN,1228248.0,6959963.0,2948587.0,3467182.0,NaN,NaN,NaN,...,199407.0,162937.0,NaN,NaN,55049.0,NaN,NaN,1676407.0,NaN,160819.0
2022-12-23,NaN,NaN,NaN,898735.0,6510750.0,2199482.0,1811017.0,NaN,NaN,NaN,...,123579.0,114166.0,NaN,NaN,79987.0,NaN,NaN,2852294.0,NaN,161553.0
2022-12-28,NaN,NaN,NaN,1477605.0,10668831.0,4472163.0,4727413.0,NaN,NaN,NaN,...,184946.0,142018.0,NaN,NaN,92335.0,NaN,NaN,1810390.0,NaN,68716.0
2022-12-29,NaN,NaN,NaN,1353704.0,7926612.0,4423120.0,2811080.0,NaN,NaN,NaN,...,101318.0,60166.0,NaN,NaN,64377.0,NaN,NaN,1403448.0,NaN,81527.0
2022-12-30,NaN,NaN,NaN,1247361.0,3524030.0,2607730.0,2950406.0,NaN,NaN,NaN,...,149308.0,63813.0,NaN,NaN,59716.0,NaN,NaN,1643838.0,NaN,45042.0

In [14]:
weights = pd.read_parquet("results_data/base_strategy_weights.parquet")
weights

,AAC/B CN Equity,AAH CN Equity,AAR-U CN Equity,AAV CN Equity,ABX CN Equity,AC CN Equity,ACB CN Equity,ACE/A CN Equity,ACE/B CN Equity,ACM/A CN Equity,...,WSP CN Equity,WTE CN Equity,WTN CN Equity,WTO CN Equity,X CN Equity,XG CN Equity,YLO CN Equity,YRI CN Equity,ZL CN Equity,ZZZ CN Equity
Index Date,,,,,,,,,,,,,,,,,,,,,
2000-12-29,0.002479,0.002698,NaN,0.002428,0.004201,NaN,NaN,NaN,NaN,0.004415,...,NaN,0.003626,NaN,NaN,NaN,NaN,NaN,NaN,0.002089,NaN
2001-12-31,0.003033,0.002515,NaN,0.002918,0.003456,NaN,NaN,NaN,NaN,0.005307,...,NaN,0.004187,0.001096,0.003953,NaN,NaN,NaN,NaN,0.002147,NaN
2002-12-31,0.002588,0.002916,NaN,0.005661,0.002581,NaN,NaN,NaN,NaN,0.003545,...,NaN,0.003948,0.001402,0.003243,NaN,NaN,NaN,NaN,0.001205,NaN
2003-12-31,0.002543,0.002381,NaN,0.005477,0.002849,NaN,NaN,NaN,NaN,0.004220,...,NaN,0.003460,0.000883,0.003491,NaN,NaN,NaN,NaN,0.001407,NaN
2004-12-31,0.003041,0.002415,NaN,0.004630,0.003091,NaN,NaN,NaN,NaN,0.004641,...,NaN,0.002714,0.000854,0.003352,NaN,NaN,0.006694,0.001436,0.001688,NaN
2005-12-30,0.003182,0.002184,NaN,0.003687,0.002959,NaN,NaN,0.002415,0.002147,0.003881,...,NaN,0.002166,0.001207,0.001923,NaN,NaN,0.003696,0.001561,0.001358,NaN
2006-12-29,0.002927,0.002723,NaN,0.002584,0.002644,NaN,NaN,0.002781,0.002782,0.003776,...,NaN,0.003060,0.001474,0.001922,NaN,NaN,0.003159,0.001542,0.001997,NaN
2007-12-31,0.012087,0.003209,NaN,0.003134,0.002563,0.002322,NaN,0.004208,0.004071,0.004270,...,0.002665,0.003854,0.000726,0.002897,NaN,NaN,0.004617,0.001852,0.001603,NaN
2008-12-31,NaN,0.002881,NaN,0.002420,0.001835,0.001642,NaN,0.001237,0.001285,0.003830,...,0.003445,0.002889,0.001152,NaN,NaN,NaN,0.003535,0.001655,0.002135,NaN
2009-12-31,NaN,0.001781,NaN,0.001948,0.002850,0.001341,NaN,0.003316,0.003174,0.004703,...,0.005415,0.003711,0.001167,NaN,NaN,NaN,0.003740,0.002397,0.002125,NaN
2010-12-31,NaN,0.002006,NaN,0.002631,0.002981,0.001621,NaN,0.002740,0.002706,0.005345,...,0.004436,0.003342,0.001098,NaN,NaN,NaN,0.003690,0.002576,0.001562,NaN
2011-12-30,NaN,NaN,0.003303,0.002209,0.003041,0.001999,NaN,0.006144,NaN,0.005134,...,0.003502,0.003308,0.011937,NaN,NaN,0.001194,0.000658,0.002473,0.001472,NaN
2012-12-31,NaN,NaN,0.003748,0.001754,0.002514,0.001585,NaN,0.009865,0.003409,0.001991,...,0.003334,0.003963,NaN,NaN,NaN,0.000896,0.000500,0.002285,NaN,NaN
2013-12-31,NaN,NaN,0.003350,0.002024,0.001456,0.001204,NaN,NaN,NaN,0.014235,...,0.003744,0.003809,NaN,NaN,0.003104,NaN,NaN,0.001430,NaN,NaN
2014-12-31,NaN,0.000500,0.005757,0.001868,0.002108,0.001277,NaN,NaN,NaN,NaN,...,0.003891,0.003731,NaN,NaN,NaN,NaN,NaN,0.001557,NaN,NaN
2015-12-31,NaN,NaN,0.005249,0.002446,0.001891,0.002878,NaN,NaN,NaN,NaN,...,0.004328,0.002815,NaN,NaN,0.003736,NaN,NaN,0.001494,NaN,NaN
2016-12-30,NaN,NaN,0.005327,0.002619,0.001786,0.002218,NaN,NaN,NaN,NaN,...,0.003513,0.002567,NaN,NaN,0.004636,NaN,NaN,0.001475,NaN,0.003043
2017-12-29,NaN,NaN,0.005527,0.002254,0.002416,0.001830,0.000988,NaN,NaN,NaN,...,0.004156,0.002272,NaN,NaN,0.003826,NaN,NaN,0.001574,NaN,0.002403
2018-12-31,NaN,NaN,0.004120,0.001727,0.002652,0.002403,0.000885,NaN,NaN,NaN,...,0.003806,0.003715,NaN,NaN,0.004007,NaN,NaN,0.001918,NaN,0.002676
2019-12-31,NaN,NaN,NaN,0.001288,0.002476,0.003015,0.001100,NaN,NaN,NaN,...,0.004047,0.002508,NaN,NaN,0.003772,NaN,NaN,0.001718,NaN,0.002523
2020-12-31,NaN,NaN,NaN,0.002243,0.003609,0.002065,0.001170,NaN,NaN,NaN,...,0.004813,0.003571,NaN,NaN,0.005830,NaN,NaN,0.002846,NaN,0.003248
2021-12-31,NaN,NaN,NaN,0.001424,0.003144,0.002344,0.001106,NaN,NaN,NaN,...,0.003524,0.001962,NaN,NaN,0.006142,NaN,NaN,0.002324,NaN,0.002478

In [15]:
df_total_ret = pd.read_parquet("filtered_data/total_ret_data.parquet")

In [16]:
df_total_ret

,AAC/B CN Equity,AAH CN Equity,AAR-U CN Equity,AAV CN Equity,ABX CN Equity,AC CN Equity,ACB CN Equity,ACE/A CN Equity,ACE/B CN Equity,ACM/A CN Equity,...,WSP CN Equity,WTE CN Equity,WTN CN Equity,WTO CN Equity,X CN Equity,XG CN Equity,YLO CN Equity,YRI CN Equity,ZL CN Equity,ZZZ CN Equity
Index Date,,,,,,,,,,,,,,,,,,,,,
2000-01-04,12.00,12.75,NaN,6.0000,25.4500,NaN,NaN,NaN,NaN,13.50,...,NaN,4.9332,NaN,NaN,NaN,NaN,NaN,NaN,19.45,NaN
2000-01-05,12.25,12.55,NaN,6.0000,25.6500,NaN,NaN,NaN,NaN,14.00,...,NaN,4.9830,NaN,NaN,NaN,NaN,NaN,NaN,18.60,NaN
2000-01-06,12.50,12.55,NaN,6.0000,25.8000,NaN,NaN,NaN,NaN,13.50,...,NaN,4.9830,NaN,NaN,NaN,NaN,NaN,NaN,18.90,NaN
2000-01-07,12.55,12.25,NaN,6.0000,25.2500,NaN,NaN,NaN,NaN,13.75,...,NaN,4.9332,NaN,NaN,NaN,NaN,NaN,NaN,19.00,NaN
2000-01-10,13.35,13.00,NaN,5.8000,25.2500,NaN,NaN,NaN,NaN,13.50,...,NaN,4.9332,NaN,NaN,NaN,NaN,NaN,NaN,19.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-22,NaN,NaN,NaN,33.1247,32.3981,19.27,1.24,NaN,NaN,NaN,...,322.3976,135.6016,NaN,NaN,180.8594,NaN,NaN,9.4733,NaN,27.2936
2022-12-23,NaN,NaN,NaN,34.1000,32.4393,19.17,1.24,NaN,NaN,NaN,...,325.3607,134.9576,NaN,NaN,182.3468,NaN,NaN,9.4981,NaN,27.7875
2022-12-28,NaN,NaN,NaN,32.6022,32.1783,18.61,1.15,NaN,NaN,NaN,...,323.2114,132.7327,NaN,NaN,178.6948,NaN,NaN,9.4610,NaN,27.2454
2022-12-29,NaN,NaN,NaN,32.2887,32.1370,19.49,1.23,NaN,NaN,NaN,...,327.0614,134.2550,NaN,NaN,179.6244,NaN,NaN,9.4370,NaN,27.5827
2022-12-30,NaN,NaN,NaN,32.9854,31.8897,19.39,1.25,NaN,NaN,NaN,...,328.5883,133.0685,NaN,NaN,179.9696,NaN,NaN,9.3623,NaN,27.6790

In [17]:
df_annual_weights = pd.read_parquet("results_data/base_strategy_weights.parquet")
df_annual_weights

,AAC/B CN Equity,AAH CN Equity,AAR-U CN Equity,AAV CN Equity,ABX CN Equity,AC CN Equity,ACB CN Equity,ACE/A CN Equity,ACE/B CN Equity,ACM/A CN Equity,...,WSP CN Equity,WTE CN Equity,WTN CN Equity,WTO CN Equity,X CN Equity,XG CN Equity,YLO CN Equity,YRI CN Equity,ZL CN Equity,ZZZ CN Equity
Index Date,,,,,,,,,,,,,,,,,,,,,
2000-12-29,0.002479,0.002698,NaN,0.002428,0.004201,NaN,NaN,NaN,NaN,0.004415,...,NaN,0.003626,NaN,NaN,NaN,NaN,NaN,NaN,0.002089,NaN
2001-12-31,0.003033,0.002515,NaN,0.002918,0.003456,NaN,NaN,NaN,NaN,0.005307,...,NaN,0.004187,0.001096,0.003953,NaN,NaN,NaN,NaN,0.002147,NaN
2002-12-31,0.002588,0.002916,NaN,0.005661,0.002581,NaN,NaN,NaN,NaN,0.003545,...,NaN,0.003948,0.001402,0.003243,NaN,NaN,NaN,NaN,0.001205,NaN
2003-12-31,0.002543,0.002381,NaN,0.005477,0.002849,NaN,NaN,NaN,NaN,0.004220,...,NaN,0.003460,0.000883,0.003491,NaN,NaN,NaN,NaN,0.001407,NaN
2004-12-31,0.003041,0.002415,NaN,0.004630,0.003091,NaN,NaN,NaN,NaN,0.004641,...,NaN,0.002714,0.000854,0.003352,NaN,NaN,0.006694,0.001436,0.001688,NaN
2005-12-30,0.003182,0.002184,NaN,0.003687,0.002959,NaN,NaN,0.002415,0.002147,0.003881,...,NaN,0.002166,0.001207,0.001923,NaN,NaN,0.003696,0.001561,0.001358,NaN
2006-12-29,0.002927,0.002723,NaN,0.002584,0.002644,NaN,NaN,0.002781,0.002782,0.003776,...,NaN,0.003060,0.001474,0.001922,NaN,NaN,0.003159,0.001542,0.001997,NaN
2007-12-31,0.012087,0.003209,NaN,0.003134,0.002563,0.002322,NaN,0.004208,0.004071,0.004270,...,0.002665,0.003854,0.000726,0.002897,NaN,NaN,0.004617,0.001852,0.001603,NaN
2008-12-31,NaN,0.002881,NaN,0.002420,0.001835,0.001642,NaN,0.001237,0.001285,0.003830,...,0.003445,0.002889,0.001152,NaN,NaN,NaN,0.003535,0.001655,0.002135,NaN
2009-12-31,NaN,0.001781,NaN,0.001948,0.002850,0.001341,NaN,0.003316,0.003174,0.004703,...,0.005415,0.003711,0.001167,NaN,NaN,NaN,0.003740,0.002397,0.002125,NaN
2010-12-31,NaN,0.002006,NaN,0.002631,0.002981,0.001621,NaN,0.002740,0.002706,0.005345,...,0.004436,0.003342,0.001098,NaN,NaN,NaN,0.003690,0.002576,0.001562,NaN
2011-12-30,NaN,NaN,0.003303,0.002209,0.003041,0.001999,NaN,0.006144,NaN,0.005134,...,0.003502,0.003308,0.011937,NaN,NaN,0.001194,0.000658,0.002473,0.001472,NaN
2012-12-31,NaN,NaN,0.003748,0.001754,0.002514,0.001585,NaN,0.009865,0.003409,0.001991,...,0.003334,0.003963,NaN,NaN,NaN,0.000896,0.000500,0.002285,NaN,NaN
2013-12-31,NaN,NaN,0.003350,0.002024,0.001456,0.001204,NaN,NaN,NaN,0.014235,...,0.003744,0.003809,NaN,NaN,0.003104,NaN,NaN,0.001430,NaN,NaN
2014-12-31,NaN,0.000500,0.005757,0.001868,0.002108,0.001277,NaN,NaN,NaN,NaN,...,0.003891,0.003731,NaN,NaN,NaN,NaN,NaN,0.001557,NaN,NaN
2015-12-31,NaN,NaN,0.005249,0.002446,0.001891,0.002878,NaN,NaN,NaN,NaN,...,0.004328,0.002815,NaN,NaN,0.003736,NaN,NaN,0.001494,NaN,NaN
2016-12-30,NaN,NaN,0.005327,0.002619,0.001786,0.002218,NaN,NaN,NaN,NaN,...,0.003513,0.002567,NaN,NaN,0.004636,NaN,NaN,0.001475,NaN,0.003043
2017-12-29,NaN,NaN,0.005527,0.002254,0.002416,0.001830,0.000988,NaN,NaN,NaN,...,0.004156,0.002272,NaN,NaN,0.003826,NaN,NaN,0.001574,NaN,0.002403
2018-12-31,NaN,NaN,0.004120,0.001727,0.002652,0.002403,0.000885,NaN,NaN,NaN,...,0.003806,0.003715,NaN,NaN,0.004007,NaN,NaN,0.001918,NaN,0.002676
2019-12-31,NaN,NaN,NaN,0.001288,0.002476,0.003015,0.001100,NaN,NaN,NaN,...,0.004047,0.002508,NaN,NaN,0.003772,NaN,NaN,0.001718,NaN,0.002523
2020-12-31,NaN,NaN,NaN,0.002243,0.003609,0.002065,0.001170,NaN,NaN,NaN,...,0.004813,0.003571,NaN,NaN,0.005830,NaN,NaN,0.002846,NaN,0.003248
2021-12-31,NaN,NaN,NaN,0.001424,0.003144,0.002344,0.001106,NaN,NaN,NaN,...,0.003524,0.001962,NaN,NaN,0.006142,NaN,NaN,0.002324,NaN,0.002478